.users-page table {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    outline: 1px solid #ddd;
}

.users-page tr {
    border-bottom: 1px solid #ddd;
}

.users-page tbody tr:last-child {
    border-bottom: none;
}

.users-page th, .users-page td {
    border-right: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
}

.users-page th:last-child, .users-page td:last-child {
    border-right: none;
}

.users-page th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

.users-page tr:nth-child(even) {
    background-color: #f2f2f2;
}

.users-page tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.users-page button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-inline: 5px;
}

.users-page .ban-btn {
    background-color: #f44336; /* Roșu pentru Ban */
    color: white;
}

.users-page .ban-btn:hover {
    background-color: #d32f2f;
}

.users-page .unban-btn {
    background-color: #4CAF50; /* Verde pentru Unban */
    color: white;
}

.users-page .unban-btn:hover {
    background-color: #388E3C;
}

.users-page .kick-btn {
    background-color: #ffc107; /* Galben pentru Kick */
    color: black;
}

.users-page .kick-btn:hover {
    background-color: #ffa000;
}
