body {
  margin: 0;
  font-family: -apple-system, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  min-height: 100vh;

  background: var(--background-color);
  color: var(--text-color);
  font-size: 18px;

  --background-color: #f4f7fb;
  --text-color: rgb(28, 32, 36);
  --border-color: rgb(217, 217, 217);
  --card-color: rgb(255, 255, 255);
  --accent-color: #4CAF50;
  --accent-border-color: #3c893e;
  --accent-hover-color: rgb(119, 204, 123);
  --label-color: rgb(79, 79, 79);

  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

br {
  user-select: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 480px;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input, select {
  margin-bottom: 10px;
  margin-top: 3px;
}

form button {
  margin-top: 10px;
}

label {
  color: var(--label-color);
}

.login-card {
  background: var(--card-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.accent-btn {
  background: var(--accent-color);
  /* border: 1px solid var(--accent-border-color); */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 7px 20px;
  font-size: 18px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.accent-btn:hover {
  background: var(--accent-hover-color);
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover, a:visited:hover {
  font-weight: 600;
}

.login-switch {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 10px 0px;
  font-size: 16px;
}

.error {
  margin: 0px;
  color: rgb(242, 69, 69);
  font-size: 16px;
}

input, select {
  padding: 7px;
  border-radius: 5px;
  outline: 1px solid var(--border-color);
  border: none;
  font-size: 16px;
}

input:focus {
  /* border: 1px solid var(--accent-color); */
  outline: 1px solid var(--accent-color);
}

input[type="checkbox"], input[type="radio"] {
  outline: none;
}

.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.remember-me label {
  margin-left: 10px;
}

.remember-me input {
  margin: 0px;
  width: 15px;
  height: 15px;
}

.menu {
  position: fixed;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 130px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  background: var(--card-color);
  user-select: none;
}

.pfp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url(../public/pfp.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.username {
  font-size: 24px;
  /* background: cyan; */
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu-top {
  width: 100%;
  /* background: red; */
  /* border-radius: 10px 10px 0px 0px; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menu-options a {
  width: 100%;
  /* background: orange; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid var(--border-color);
  color: var(--label-color);
}

.menu-options a:last-child {
  /* background: rgb(255, 204, 0); */
  color: rgb(242, 69, 69);
  border-bottom: none;
  /* border-radius: 0px 0px 10px 10px; */
}

.menu-options a:hover {
  background: rgb(248, 248, 248);
  color: var(--text-color);
}

.menu-options a:last-child:hover {
  background: rgb(242, 69, 69);
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.menu-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.menu-middle p {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.level-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.level {
  background: rgb(25, 102, 244);
  color: white;
  padding: 3px 6px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  user-select: none;
  width: fit-content;
}

.menu .level {
  margin-left: 10px;
}

.xp {
  flex-grow: 1;
  background: var(--border-color);
  height: 8px;
  border-radius: 4px;
  margin-inline: 10px;
}

.xp-fill {
  background: var(--accent-color);
  height: 100%;
  border-radius: 4px;
  transition: width 0.5s ease;
}

.questions-start {
  background: var(--card-color);
  width: 100%;
  /* height: 50px; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.question {
  background: var(--card-color);
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  user-select: none;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-buttons-order {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.question-sentence {
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  user-select: text;
}

.question-type {
  margin-top: 0px;
  color: var(--label-color);
  margin-bottom: 10px;
}

.accent-btn:disabled {
  opacity: 0.5;
  cursor: default;
  /* visibility: hidden; */
}

.accent-btn:disabled:hover {
  background: var(--accent-color);
}

.indicators {
  display: flex;
  flex-direction: row;
  user-select: none;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.indicator {
  background: rgb(242, 242, 242);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  color: var(--label-color);
}

.indicator:hover {
  background: var(--border-color);
}

.indicator.correct {
  background: rgb(174, 255, 174);
  color: rgb(34, 113, 37);
}

.indicator.correct:hover {
  background: rgb(129, 236, 133);
}

.indicator.incorrect {
  background: rgb(255, 174, 174);
  color: rgb(155, 19, 19);
}

.indicator.incorrect:hover {
  background: rgb(255, 132, 132);
}

.indicator.current {
  background: rgb(220, 232, 255);
  color:  rgb(54, 70, 141);
}

.indicator.current:hover {
  background: rgb(192, 203, 252);
}

.question ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.question label {
  cursor: pointer;
}

.question input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

.feedback {
  font-weight: 600;
}

.feedback.correct {
  color: rgb(60, 192, 99);
}

.feedback.incorrect {
  color: rgb(242, 69, 69);
}

.rearrange-container {
  /* background: orange; */
  user-select: none;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.drag-area {
  width: 100%;
  min-height: 65px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: 2px dashed var(--border-color);
  box-sizing: border-box;
}

.drag-item {
  background: rgb(25, 102, 244);
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  color: white;
}

.drag-item:hover {
  background: rgb(66, 132, 255);
  opacity: 0.999; /* bug with draggable and rounded corners */
}

.banned {
  background: rgb(242, 69, 69);
  color: white;
  padding: 3px 6px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  user-select: none;
  margin: 0px;
  width: fit-content;
}

.role-select {
  width: 100px;
  /* height: 20px; */
  font-size: 14px;
  padding: 5px;
}

.btn {
  background: white;
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

.btn:hover {
  background: rgb(248, 248, 248);
  cursor: pointer;
}

.btn:disabled {
  background: white;
  cursor: default;
}

.name {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin: 0px;
  /* margin-left: 20px; */
}

.email {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  margin: 0px;
}

/* Buton Report */
.report-btn {
  background: #ff5722; /* Culoare distinctă */
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 18px;
}

.report-btn:hover {
  background: #e64a19;
}

.report-btn:disabled {
  background: var(--border-color);
  cursor: not-allowed;
  opacity: 0.7;
}

/* Container sugestii (mai mic și compact) */
.suggestion-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border-radius: 8px;
  background: var(--card-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

/* Textarea pentru sugestii */
.suggestion-textarea {
  width: 100%;
  min-height: 80px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 8px;
  font-size: 14px;
  resize: none;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.05);
  outline: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.suggestion-textarea:focus {
  border-color: var(--accent-color);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Buton pentru trimiterea sugestiei */
.suggestion-button {
  align-self: flex-end;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestion-button:hover {
  background: var(--accent-hover-color);
}

.suggestion-button:disabled {
  background: var(--border-color);
  cursor: not-allowed;
  opacity: 0.7;
}


/* Pentru pagina de requests a reviewers*/
.requests-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.request-card {
  background: var(--card-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  position: relative;
}

.request-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.reject-btn {
  background: rgb(242, 69, 69);
}

.reject-btn:hover {
  background: rgb(200, 50, 50);
}

.exercise-details {
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
}

.edit-form {
  margin-top: 15px;
  background: var(--card-color);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-form h3 {
  margin-top: 0;
}

.edit-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--label-color);
}

.edit-form input, .edit-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.05);
}

.edit-form input:focus, .edit-form select:focus {
  border-color: var(--accent-color);
  outline: none;
}

.edit-form button {
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.edit-form button:hover {
  background: var(--accent-hover-color);
}

/* butoane editare la request rewiers*/
.button-container {
  display: flex;
  justify-content: space-between; /* Spațiu între butoane */
  gap: 15px; /* Adaugă spațiu între ele */
  margin-top: 15px; /* Spațiu față de restul formularului */
}

.save-btn {
  background-color: var(--accent-color);
}

.approve-btn {
  background-color: #4CAF50; /* Verde pentru approve */
}

.notification-badge {
  position: absolute;
  left: -10px;
  top: -12px;
  background: rgb(246, 69, 69);
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notifications-list {
  list-style-type: none;
  padding: 0;
}

.notification-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.notification-item.read {
  background-color: #f9f9f9;
  color: #888;
}

.notification-item.unread {
  background-color: #fffbe6;
  color: #000;
}

.actions button {
  margin-right: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 100;
}

.form-container {
  background: var(--card-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: fit-content;
  margin-top: 100px;
}

.review-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  outline: 1px solid var(--border-color);
  overflow: hidden;
}

tr {
  border-bottom: 1px solid var(--border-color);
}

tr:last-child {
  border-bottom: none;
}

td {
  width: fit-content;
  border-left: 1px solid var(--border-color);
  padding: 10px;
}

td:first-child {
  border-left: none;
}

tr:nth-child(even) {
  background: rgb(248, 248, 248);
}

.user .pfp {
  margin: 0px;
  width: 40px;
  height: 40px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}