.notification-badge {
    position: absolute;
    top: -5px; /* Ajustează vertical în sus */
    left: 75px; /* Ajustează orizontal spre stânga */
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
